body { 
    font-family: 'VT323', monospace, monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/img/bgweb.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container {
    
    position: absolute;
    width: 66%;
    height: 66%;
    border-radius: 20px;
}

.TitleMain{
    position: absolute;
    color: white;
    text-align: center;
    align-items: center;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.TitleMain h1 {
    font-size: 72px; /* Increased from default size */
}
.bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/bgweb.png');
    background-size: cover;
    background-position: center;    
    border-radius: 30px;
    z-index: 0;
    
}
.blur { 
    position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        backdrop-filter: blur(8px);
        border-radius: 30px;
}

.cardweb {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 20px;
}
#czlimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}